#lgtm_wrapper {
  padding-left: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
  min-height: 45px;
}

#lgtm_wrapper_submit {
  margin: 15px 8px;
  min-height: 45px;
}

.lgtm_icon_wrapper {
  float: left;
  width: 44px;
  height: 44px;
  margin-left: -60px;
  text-align: center;
  border-radius: 3px;
}

.lgtm_icon {
  height: 44px;
  width: 44px;
}

#lgtm_box {
  border: 1px solid #7ae2a8;
  min-height: 45px;
  border-radius: 3px;
  padding: 15px;
  position: relative;
  text-align: center;
  margin-top: 10px;
}

#lgtm_box:after, #lgtm_box:before {
  position: absolute;
  top: 11px;
  right: 100%;
  left: -16px;
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
  content: " ";
  border-color: transparent;
  border-style: solid solid outset;
}

#lgtm_box:before {
  border-width: 8px;
  border-right-color: #7ae2a8;
}

#lgtm_box:after {
  margin-top: 1px;
  margin-left: 2px;
  border-width: 7px;
  border-right-color: #fff;
}

#lgtm_box_submit {
  border: 1px solid #7ae2a8;
  min-height: 45px;
  border-radius: 3px;
  padding: 15px;
  position: relative;
  text-align: center;
  margin-top: 10px;
}

#lgtm_button {
  background-color: white;
  border: none;
  font-size: 20px;
  height: 45px;
  width: 100%;
}

#lgtm_button_close {
  background-color: white;
  color: white;
  border: tomato 1px solid;
  height: 25px;
  width: 100%;
  display: none;
  transition: background-color 0.1s linear;
}

#lgtm_button_close:hover {
  background-color: tomato;
}

.lgtm_image {
  width: 330px;
  padding: 2px;
  border: 3px solid white;
  border-radius: 4px;
  margin-top: 5px;
  cursor: pointer;
}
