<div class="easy_lgtm_app">
  <div id="lgtm_wrapper">
    <span class="lgtm_icon_wrapper">
      <img class="lgtm_icon" alt="your avatar" src="">
    </span>
    <div id="lgtm_box">
      <button id="lgtm_button" type="button">
        <span class="lgtm_initial">L</span><span class="lgtm_not_initial">ooks</span>
        <span class="lgtm_initial">G</span><span class="lgtm_not_initial">ood</span>
        <span class="lgtm_initial">T</span><span class="lgtm_not_initial">o</span>
        <span class="lgtm_initial">M</span><span class="lgtm_not_initial">e!</span>
      </button>
      <button id="lgtm_button_close" type="button">close</button>
      <div class="lgtm_images_wrapper">
        <div id="hint" style="display: none;">SHIFT + Click -> Small Image</div>
      </div>
    </div>
  </div>
</div>
