<div>
  <div id="lgtm_wrapper_submit">
    <div id="lgtm_box_submit">
      <button id="lgtm_button" type="button" v-on:click="onClick" v-on:mouseenter="onMouseenter" v-on:mouseleave="onMouseleave">
        <span class="lgtm_initial">L</span><span class="lgtm_not_initial">ooks</span>
        <span class="lgtm_initial">G</span><span class="lgtm_not_initial">ood</span>
        <span class="lgtm_initial">T</span><span class="lgtm_not_initial">o</span>
        <span class="lgtm_initial">M</span><span class="lgtm_not_initial">e!</span>
      </button>
      <div class="lgtm_images_wrapper"></div>
    </div>
  </div>
</div>
